<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="../../../../public/app/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    <title>Incio-FIXIUM</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-fixium">
        <div class="container-fluid">

            <!-- Logo a la izquierda -->
            <a class="navbar-brand" href="#">FIXIUM</a>

            <!-- Botón responsive -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links a la derecha -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://localhost/Lab_Prog_Final_Orlando_Torres_2026/app/resources/views/home/index.html">
                            <i class="bi bi-house"></i>
                            Inicio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/Lab_Prog_Final_Orlando_Torres_2026/app/resources/views/orders/index.html">
                            <i class="bi bi-clipboard-check"></i>
                            Órdenes
                        </a>
                    </li>

                    <li class="nav-item">
                        
                        <a class="nav-link" href="#"><i class="bi bi-laptop"></i>Equipos</a>
                    </li>

                    <li class="nav-item">
                        
                        <a class="nav-link" href="#"><i class="bi bi-people"></i>Clientes</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"> 
                            <i class="bi bi-person"></i>
                            Perfil
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Cuenta</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="contenedor">
        <div class="container-fluid">
            <h1 class="titulo-vista">Panel de inicio</h1>
            <h2>Resumen de las ordenes de trabajo</h2>
            <!--Cards-->
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-received">
                        <div class="card-body">
                            <i class="bi bi-inbox"></i>
                            <h2>25</h2>
                            <p>Ordenes recibidas</p>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="card card-reparing">
                        <div class="card-body">
                            <i class="bi bi-tools"></i>
                            <h2>2</h2>
                            <p>Ordenes en reparacion</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-done">
                        <div class="card-body">
                            <i class="bi bi-check"></i>
                            <h2>0</h2>
                            <p>Ordenes reparadas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-notDone">
                        <div class="card-body">
                            <i class="bi bi-x"></i>
                            <h2>2</h2>
                            <p>Ordenes sin reparacion</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Botones de acceso rapido-->
            <div class="mt-5">
                <h2>Acceso rapido</h2>

                <div class="d-flex gap-2 mt-3">
                    <a href="#" class="btn btn-accesoRapido">
                        <i class="bi bi-plus-circle"></i>
                        Nueva orden
                    </a>
                    <a href="#" class="btn btn-accesoRapido">
                        <i class="bi bi-person-plus"></i>
                        Nuevo cliente
                    </a>
                    <a href="#" class="btn btn-accesoRapido">
                        <i class="bi bi-phone"></i>
                        Nuevo equipo
                    </a>
                </div>

            </div>

            <!--Tabla de ordenes recientes-->
            <div class="mt-5">
                <h2>Ordenes recientes</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-fixium">
                        <thead>
                            <tr>
                            <th scope="col">Orden</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            </tr>
                            <tr >
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            </tr>
                            <tr >
                            <th scope="row">3</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>@social</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                
            
        </div>
       
        
    </div>
</body>
</html>