<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="../../../../public/app/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    <title>Ordenes de trabajo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-fixium">
        <div class="container-fluid">

            <!-- Logo a la izquierda -->
            <a class="navbar-brand" href="#">FIXIUM</a>

            <!-- Botón responsive -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links a la derecha -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://localhost/Lab_Prog_Final_Orlando_Torres_2026/app/resources/views/home/index.html">
                            <i class="bi bi-house"></i>
                            Inicio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/Lab_Prog_Final_Orlando_Torres_2026/app/resources/views/orders/index.html">
                            <i class="bi bi-clipboard-check"></i>
                            Órdenes
                        </a>
                    </li>

                    <li class="nav-item">
                        
                        <a class="nav-link" href="#"><i class="bi bi-laptop"></i>Equipos</a>
                    </li>

                    <li class="nav-item">
                        
                        <a class="nav-link" href="#"><i class="bi bi-people"></i>Clientes</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"> 
                            <i class="bi bi-person"></i>
                            Perfil
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Cuenta</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        
        <div class="d-flex align-items-center">
            <h2 class="titulo-vista">Ordenes de trabajo</h2>
            <div class="ms-auto " role="group" >
                <a href="http://localhost/Lab_Prog_Final_Orlando_Torres_2026/app/resources/views/orders/create.html" class="btn btn-outline-success btn-lg">
                    <i class="bi bi-plus-lg"></i>
                    Crear orden
                </a>
                
                <button type="button" class="btn btn-outline-primary btn-lg"><i class="bi bi-download me-1"></i>Exportar</button>  
            </div>
            
        </div>

        <!-- Filtros -->
        <div class="card filtro-ordenes mt-4 mb-4">

            <div class="card-body">

                <div class="row g-3">

                    <!-- Buscar -->
                    <div class="col-md-4">
                            <label for="buscar" class="form-label">
                                Buscar
                            </label>

                        <div class="input-group">

                            <span class="input-group-text">
                                <i class="bi bi-search"></i>
                            </span>

                            <input type="text"
                                class="form-control"
                                id="buscar"
                                placeholder="Cliente, equipo u orden">
                        </div>
                    </div>

                    <!-- Fecha desde -->
                    <div class="col-md-2">
                        <label for="fechaDesde" class="form-label">
                            Desde
                        </label>

                        <input type="date"
                            class="form-control"
                            id="fechaDesde">
                    </div>

                    <!-- Fecha hasta -->
                    <div class="col-md-2">
                        <label for="fechaHasta" class="form-label">
                            Hasta
                        </label>

                        <input type="date"
                            class="form-control"
                            id="fechaHasta">
                    </div>

                    <!-- Estado -->
                    <div class="col-md-2">
                        <label for="estado" class="form-label">
                            Estado
                        </label>

                        <select class="form-select" id="estado">
                            <option selected>Todos</option>
                            <option>Recibida</option>
                            <option>En reparación</option>
                            <option>Reparada</option>
                            <option>Sin reparación</option>
                        </select>
                    </div>

                    <!-- Botones -->
                    <div class="col-md-2 d-flex align-items-end gap-2">

                        <button type="button" class="btn btn-primary">
                            <i class="bi bi-search"></i>
                        </button>

                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>

                    </div>

                </div>

            </div>

        </div>


        <!--Tabla de ordenes-->
        <div class="mt-5">
            <div class="table-responsive">
                <table class="table table-hover table-fixium">
                    <thead>
                        <tr>
                        <th scope="col">Orden</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" title="Editar orden">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" title="Ver orden">
                                <i class="bi bi-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>